# dev/build outputs
dist
demo
scripts

# Node dependencies
node_modules
uni_modules

# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*
trace-*.json

# Misc
.DS_Store
.fleet
.git
.idea

# Local env files
.env
.env.*
!.env.example

# Bundle
tsdown.config.ts
